In [7]:
#Q1
str=input("input a string :")
l=len(str)
str=sorted(str)
print(str,"Second Largest Number : ",str[-2])

input a string :1237578
['1', '2', '3', '5', '7', '7', '8'] Second Largest Number :  7

In [64]:
#Q2
str=input("input a number : ")
li=[str]
l=len(str)
print(str.strip())
max=str[0]
m=0
for i in range(l):
    if str[i].isdigit()==True:
        if str[i]>max:
            max=str[i]
            index=i
        else:
            print(str[i])
            
print (max,index)
        
#print(str,"\n","the index of the second largest number = ",str.index(SecL))

input a number : 45867921
45867921
4
6
7
2
1
9 5 0

In [12]:
#Q3
cont=[]
print(cont if cont else "Empty")

Empty

In [16]:
#Q4
n=int(input())
prime_list=[]
for i in range(2,n+1):
    if i not in prime_list:
        print (i,end=" ")
        for j in range(i*i, n+1, i):
             prime_list.append(j)
                
#p², p²+p, ...

100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [45]:
#Q5
li=["A","B","C","D","E","F"]
x=int(len(li))
x2=int(x/2)
li2=li[0:x2]
li3=li[x2:]
print(li2,li3)

['A', 'B', 'C'] ['D', 'E', 'F']

In [46]:
#Q6
li=[]
for i in range(0,6):
    X=[input("Enter : ")]
    li.extend([X])
    S=li.sort(reverse=True)
print(li,"\n",S)

Enter : a
Enter : b
Enter : h
Enter : j
Enter : k
Enter : i
[['k'], ['j'], ['i'], ['h'], ['b'], ['a']]
 None

In [22]:
#Q7
li=[5,9,8,10,21,1,4,13]
li.reverse()
print(li)

[13, 4, 1, 21, 10, 8, 9, 5]

In [48]:
#Q8
li=[[1,2,3],
    [4,5,6],
    [7,8,9]]
i=len(li)-1
for i in range(len(li)):
    for j in range(len(li)):
        li2=li[i][j]
        print(li2)

1
2
3
4
5
6
7
8
9

In [49]:
#Q9
li=[]
li.extend(input())
rem=li.pop(4)
li.pop(4)
li.insert(2,rem)
li.append(rem)
#print()
print(li)

12458639
['1', '2', '8', '4', '5', '3', '9', '8']

In [194]:
#Q10
li1=[1,2,5,7,9,12,14,15]
li2=[8,6,12,2,20,22,18,15]
li3 = [value for value in li1 if value in li2] 
#print(li3)
s={' '}
s.update(li3)
s.discard(' ')
print(s)

{2, 12, 15}

In [197]:
#Q11
li1=[1,2,5,7,9,12,14,15]
li2=[8,6,12,2,20,22,18,15]
for i in range(len(li1)):
    t=(li1[i],li2[i])
    print(t)

(1, 8)
(2, 6)
(5, 12)
(7, 2)
(9, 20)
(12, 22)
(14, 18)
(15, 15)

In [205]:
#Q12
dic={'name':"X",
     'age':20,
     'hoopy':"sport"
    }
print(dic)

{'name': 'X', 'age': 20, 'hoopy': 'sport'}

In [3]:
#Q13
n1=int(input())
n2=int(input())
l1=[]
l1.append(n1)
l2=[]
l2.append(n2)
print(l1,l2)

5
6
[5] [6]

In [23]:
#Q14
dict={"name":"batool",
      "Age":"25"}
li=[]
#print(list(enumerate(dict)))
#for i in range(len(dict)):
    #if dict[i] not in dict[i + 1]:
li.append(dict.values())
print(li)

[dict_values(['batool', '25'])]

In [23]:
#Q15
num=input("Enter your numbers :")
list=num.split(",")
t=tuple(list)
print("List :",list,"\n","Tuple :",t)

Enter your numbers :3,5,7,23
List : ['3', '5', '7', '23']
 Tuple : ('3', '5', '7', '23')

In [29]:
#Q16
num=input("Enter number seprsted with space : ")
count=0
li=[]
#li=num.split()
for i in range(len(num)):
    li.append(num[i])
    if li[i]=="4":
            count=count+1
print("The number 4 counted : ",count)

Enter number seprsted with space : 4544444
The number 4 counted :  6

In [8]:
#Q17
N=input("Enter your numbers : ").split(",")
li=[]
for i in range(len(N)):
    li.append(N[i])
    if int(li[i])%2==0 and int(li[i])<237:
        print(li[i])
#386,462,47,418,907,344,236,375,823,566,597,978,328,615,953,345,399,162,758,219,918,237,412,566,826,248,866,950,626,949,687,217,815,67,104,58,512,24,892,894,767,553,81,379,843,831,445,742,717,958,743,527

Enter your numbers : 386,462,47,418,907,344,236,375,823,566,597,978,328,615,953,345,399,162,758,219,918,237,412,566,826,248,866,950,626,949,687,217,815,67,104,58,512,24,892,894,767,553,81,379,843,831,445,742,717,958,743,527
236
162
104
58
24

In [15]:
#Q18
ThirdNumber = int(input("Input 3rd term of the series:"))
LastThirdNumber=int(input("Input 3rd last term:"))
Sum = int(input("Sum of the series:"))
series=int(2*Sum/(ThirdNumber+LastThirdNumber))
print("Length of the series:",series)

if series-5==0:
  d = (Sum-3*ThirdNumber)//6
else:
  d = (LastThirdNumber-ThirdNumber)/(series-5)

a = ThirdNumber-2*d
i=0
for i in range(series-1):
  print(int(a),end=" ")
  a+=d
print(int(a),end=" ")


#X=a+2d and Y=a+(2SX+Y−3)d

Input 3rd term of the series:3
Input 3rd last term:6
Sum of the series:36
Length of the series: 8
1 2 3 4 5 6 7 8

In [14]:
#Q19
tuples=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for i in range (len(tuples)):
    last=tuples[-1]
print(sorted(tuples))
print(last)

#,key=last

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]
(2, 1)

In [24]:
#Q20
X=int(input("Enter range : "))
List=input("Enter You're List: ")
li=List.split()
li2=[]
li2=['{}{}'.format(x,y) for y in range(1,X+1) for x in li]
print(li2)

Enter range : 5
Enter You're List: p q
['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [25]:
#Q21

5
2
4
3
1

In [13]:
#Q22
matrix={"row1":{1,1,1,1},
        "row2":{2,2,2,2},
        "row3":{3,3,3,3}}
sum={0}
for i in range(len(matrix)):
    s=matrix["row1"]
    print(s)
print(matrix.values())

{1} {0}
{1} {0}
{1} {0}
dict_values([{1}, {2}, {3}])

In [11]:
#Q23
import random
num=random.randint(1, 20)
guessTaken=0
while guessTaken<3:
    guessNum=int(input("Enter You're Guess : "))
    if guessNum<num:
        print("too low !")
    elif guessNum>num:
        print("Too hight !")
    elif guessNum==num:
        print("Horay you guessed The number ")
    elif guessNum!=num:
        print("Oh no , you did not guess the number T_T")
    guessTaken=guessTaken+1

Enter You're Guess : 15
Too hight !
Enter You're Guess : 10
Too hight !
Enter You're Guess : 5
too low !

In [45]:
#Q24
X = [[1, 2], [4, 5], [3, 6]]
#print(X[0][1])
result = [[0,0,0],
         [0,0,0]]

for i in range(len(X)) :
    for j in range (len(X[0])):
        result[j][i]=X[i][j]

for r in result:
   print(r)

[1, 4, 3]
[2, 5, 6]

In [49]:
#Q25
X = [[1, 2], [4, 5], [3, 6]]
Y = [[1, 2], [4, 5], [3, 6]]
result = [[0,0,0],
          [0,0,0]]
for i in range(len(X)-1) :
    for j in range (len(Y[0])):
        for k in range(len(Y)-1):
           result[i][j] += X[i][k] * Y[k][j]
        
for r in result:
   print(r)

[9, 12, 0]
[24, 33, 0]

In [23]:
#Q26*************************************************

In [44]:
#Q27
import random
num=random.randint(1,2)
list=["A","B","C"]
#li=list[num]
for i in range (num):
    print(list[i]+list[i-1]+list[i-2])

ACB
BAC

In [57]:
#Q28
dict={"k1":5,"k2":7,"k3":12,"k4":9}
v=dict.values()
print("Ascending  sorting : ",sorted(dict.values()))
print("Descending sorting : ",sorted(dict.values(),reverse=True))

Ascending  sorting :  [5, 7, 9, 12]
Descending sorting :  [12, 9, 7, 5]

In [65]:
#Q29
dict={"k1":5,"k2":7,"k3":12,"k4":9,"k5":12}
res={}
for key,value in dict.items():
    if value not in res:
        res=dict.values()
print (res)

dict_values([5, 7, 12, 9, 12])

In [67]:
#Q30
L = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
value = set( val for dic in L for val in dic.values())
print("Unique Values: ",value)

Unique Values:  {'S007', 'S002', 'S005', 'S001', 'S009'}

In [16]:
#Q31
dict= {'A': 67, 'B': 23, 'C': 45,
       'D': 56, 'E': 12, 'F': 69}

X=sorted(dict.values())
Max1=X[-1]
Max2=X[-2]
Max3=X[-3]
print(Max3,Max2,Max1)

#V=[]
#V.append(dict.values())

56 67 69

In [159]:
#Q32
X=input("Enter You're Values :")
li=X.split()
Dict={}
for i in li:
    Dict[i]=li.count(i)
for key,value in Dict.items(): 
    print("occurrence of ",key,"= ",value)

Enter You're Values :1 2 2 3 8 2 3 9 6 8 8
occurrence of  1 =  1
occurrence of  2 =  3
occurrence of  3 =  2
occurrence of  8 =  3
occurrence of  9 =  1
occurrence of  6 =  1

In [188]:
#Q33
X1=input("Enter values for set1 : ").split()
set1={2,5,6,7,8}
set2={3,4,12,6,0}
X=set1.intersection(set2)
set1.discard(set1.intersection(set2))
print("The the intersection = ",set1.intersection(set2))
print("Set1 After filtering : ",set1.difference(set2))

Enter values for set1 : 1
The the intersection =  {6}
Set1 After filtering :  {8, 2, 5, 7}

In [197]:
#Q34
set1={2,5,6,7,8}
set2={3,4,9,12}
if set1.issubset(set2)==True or set1.issuperset(set2)==True:
    set1={}
    print("Superset or Subset",set1)
else:
    print("Not Superset or Subset ","\n","Set1= ",set1)

Not Superset or Subset
 Set1=  {2, 5, 6, 7, 8}

In [216]:
#Q35
list_1 = ["White", "Black", "Red"]
list_2 = ["Red", "Green"]
for i in list_1:
    if i not in list_2:
        print(i,end="  ")

White  Black

In [253]:
#Q36
inp=input()
li=[]
li=inp.split()
for i in range(len(li)):
    for j in range(len(li)):
        if i!=j:
            if(int(li[i])*int(li[j]))%2!=0:
                X=int(li[i])*int(li[j])
                print(li[i],",",li[j]," = ",X)

1 4 7 3
1 , 7  =  7
1 , 3  =  3
7 , 1  =  7
7 , 3  =  21
3 , 1  =  3
3 , 7  =  21

In [266]:
#Q37
inp=input()
li=[]
li=inp.split()
sum=0
for i in range(len(li)):
    for j in range(len(li)):
        if i!=j:
            difference=int(li[i])-int(li[j])
            sum=sum+abs(difference)
            print(abs(difference))

1 2 3
1
2
1
1
2
1

In [9]:
#Q38
num=input("Enter 4 digit Numer : ")
n1=""
n2=""
if len(num)==4:
    if int(num[i])>0 and int(num[i])<9:
        Asc=sorted(num)
        n1=Asc[0]+Asc[1]+Asc[2]+Asc[3]
        Dsc=sorted(num,reverse=True)
        n2=Dsc[0]+Dsc[1]+Dsc[2]+Dsc[3]
        Max_Diff=int(n2)-int(n1)
        print("Min Int = ",n1,"\nMax Int = ",n2,"\nMax_Diff = ",Max_Diff)

Enter 4 digit Numer : 3245
Min Int =  2345
Max Int =  5432
Max_Diff =  3087

In [110]:
#39

In [20]:
#Q40
str=input("Enter Strings :").split()
print(str)
count=0
for i in range (len(str)):
    if len(str[i])>2 and str[i][0]==str[i][-1]:
        count=count+1
print(count,)

Enter Strings :abc xyz aba 1221
['abc', 'xyz', 'aba', '1221']
2

In [31]:
#Q41
li1=input("Enter values for list1 : ").split()
li2=input("Enter values for list2 : ").split()
if li1[0]==li2[0] and li1[1]==li2[1] and li1[2]==li2[2]:
    print ("True")
else:
    print("False")

Enter values for list1 : 2 5 6 8
Enter values for list2 : 2 5 6 9
True

In [30]:
#Q42
li1=input("Enter 15 value : ").split()
for i in range(0,5):
    li1.insert(i,i**2)
for j in range(11,14):
    li1.insert(j,j**2)
print(li1)

Enter 15 value : 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
[0, 1, 4, 9, 16, '1', '2', '3', '4', '5', '6', 121, 144, 169, '7', '8', '9', '10', '11', '12', '13', '14', '15']

In [38]:
#Q43
sum1=0
sum2=0
sub=0
for i in range (101):
    sum1=i**2+sum1
    sum2=sum2+i
    sum2Sq=sum2**2
    sub=sum2Sq-sum1
print(sum1,sum2Sq,sub)

338350 25502500 25164150

In [49]:
#Q44
li1 =['Name', 'Age', 'ID', 'Phone']
li2 = ['Yazeed', '21', '1536698', '0798529788']
print({li1[i]: li2[i] for i in range(0, len(li1))})

{'Name': 'Yazeed', 'Age': '21', 'ID': '1536698', 'Phone': '0798529788'}

In [7]:
#Q45
li1=input("Enter values for list1 : ").split()
li2=input("Enter values for list2 : ").split()
dict={}
dict={li1[i]:li2[i] for i in range(0,len(li1))}
dict2=sorted(dict.values(),reverse=True)
print("item ",dict2[:3],"\n")


#item1 item2 item3 item4
#45.5 35 41.30 55

Enter values for list1 : item1 item2 item3 item4
Enter values for list2 : 45.5 35 41.30 55
item  ['55', '45.5', '41.30']

In [28]:
#Q46
dict = {'a': 100, 'b':200, 'c':300} 
sum = 0
for i in dict: 
    sum = sum + dict[i] 
print("Sum :",sum)

Sum : 600